[Desktop Entry]
Type=Application
Name=Seuche
Comment=Kooperatives Seuchen-Brettspiel
Exec=/opt/harbour-seuche/bin/harbour-seuche
Icon=/usr/share/icons/hicolor/80x80/apps/harbour-seuche.png
X-Window-Icon=/usr/share/icons/hicolor/80x80/apps/harbour-seuche.png
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
Categories=Game;BoardGame;
